.layout-px-spacing {
	padding: 0 20px 0 20px !important;
	min-height: calc(100vh - 140px) !important;
}
.layout-px-spacing {
	min-height: auto !important;
}
.layout-top-spacing {
	margin-top: 20px;
}
.layout-spacing {
	padding-bottom: 25px;
}
.layout-spacing {
	padding-bottom: 30px;
}
.layout-spacing {
	padding-bottom: 40px;
}
@media (max-width: 991px) {
	.layout-top-spacing {
		margin-top: 37px;
	}
}
